.hide-skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hide-skip:focus{
    position: static;
    width: auto;
    height: auto;
}

body nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    text-align: center;
    font-size: large;
    font-style: normal;
    font-family: sans-serif;

    list-style-type: none;
    margin: 10;
    padding: 10;
    max-width: 100%;
}

h1{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

h2{
    font-size: x-large;
    text-decoration: underline;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

h3{
    text-align: center;
    font-size: large;
    padding: 15px;
}

.bacon{
    border: 3px dotted rgb(255, 166, 0);
    border-radius: 5px;
    background: rgb(247, 223, 183);
}

.bacon-img{
    grid-row: 1/4;
    grid-column-start: 2;
}

.bacon-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    text-align: center;
    padding: 10px;
}

.bacon-photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 550px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.bacon-likes{
    text-align: center;
    padding: 10px;
}

img{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

video{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}