body nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: x-large;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body main h1{
    text-align: center;
    font-size: large;
}

.bacon-photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hide-skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hide-skip:focus{
    position: static;
    width: auto;
    height: auto;
}